<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Income & Expenses</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
<h1>Let's add or delete your income and expenses!</h1>



<div style="text-align: center;">

    <button type="submit" class="btn btn-primary"><a href="/fixed-income" class="btn custom-btn">Fixed Income</a></button>
    <button type="submit" class="btn btn-primary"><a href="/other-income" class="btn custom-btn">Other Income</a></button>
    <button type="submit" class="btn btn-primary"><a href="/fixed-expense" class="btn custom-btn">Fixed Expenses</a></button>
    <button type="submit" class="btn btn-primary"><a href="/intermittent-expense" class="btn custom-btn">Intermittent Expenses</a></button>
    <button type="submit" class="btn btn-primary"><a href="/other-expense" class="btn custom-btn">Other Expenses</a></button>
    <button type="submit" class="btn btn-primary"><a href="/" class="btn custom-btn">Home</a></button>
</div>

</body>

</html>